.contacts-container{
    display: grid;
    grid-template-rows: 10% 80% 10%;
    overflow: hidden;
    gap: 0.1rem;
    background-color: #2F3136;
}

@media screen and (min-width: 720px) and (max-width: 1080px) {
    .contacts-container{
        grid-template-rows: 15% 70% 15%;
    }
}
  .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.brand img {
  height: 2.5rem;
}
.brand h3 {
  color: white;
  text-transform: uppercase;
}
.contacts {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 0.8rem;
}
.contacts::-webkit-scrollbar {
  width: 0.2rem;
}
.contact::-webkit-scrollbar-thumb {
    background-color: #ffffff39;
    width: 0.1rem;
    border-radius: 1rem;
}
.contact {
    background-color: #ffffff34;
    min-height: 5rem;
    cursor: pointer;
    width: 90%;
    border-radius: 0.2rem;
    padding: 0.4rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: 0.25s ease-in-out;
}
.contact .avatar img {
    height: 3rem;
}
.contact .username h3 {
    color: white;
}
.contact.selected {
    border: none;
    background-color: #3C3F45;
}
.current-user {
    background-color: #292B2F;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.current-user .avatar img {
    height: 3rem;
    max-inline-size: 100%;
}
.current-user .username h2 {
    color: white;
}
@media screen and (min-width: 720px) and (max-width: 1080px) {
    .username h2 {
        font-size: 1rem;
    }
}